<!DOCTYPE html>
<style>
body {
            text-align: center;


        }
form{
    margin-top: 5%;
}




</style>
        <head>
            <title>Upload New File</title>
        </head>
        <body>
            <form method='post' enctype='multipart/form-data'>
                <label>Key:</label>
                    <input type='text' name='key'>
                <label>File:</label>
                    <input type="file" name="file">
                <input type='submit'>
            </form>

        </body>

    </html>